/* FONTS */

@font-face {
    font-family: "RedditMono";
    src: url(./../fonts/RedditMono.ttf);
}

/* Logo font */
@font-face {
    font-family: "Lobster";
    src: url(./../fonts/Lobster-Regular.ttf);
}

:root {
    --primary: #04D9C3;
}

body {
    color: #F1F1F1;
    font-family: "RedditMono";
}
/* First page */
.first-page {
    background-image: url(./../imgs/bg.jpg);
}

.first-page header {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 20px;
    align-items: center;
}

.first-page header #logo {
    font-family: "Lobster";
    font-weight: 400;
    font-size: 2em;
    color: #F1F1F1;
    cursor: pointer;
}

.first-page span {
    color: var(--primary);
}

.first-page nav {
    color: #F1F1F1;
    font-weight: 400;
}

.first-page nav #inicio {
    color: var(--primary);
}

.first-page nav a {
    margin: 0 20px;
    cursor: pointer;
}

.first-page #resume-btn {
    height: 40px;
    width: 180px;
    background-color: #01DBC5;
    border-radius: 10px;
    border: 1px solid #121212;
}

.first-page #resume-btn a {
    color: #121212;
}

.first-page #resume-btn a:visited,
.first-page #resume-btn a:link{
    color: #121212;
    text-decoration: none;
}

.first-page .rest-page {
    text-align: center;
    margin-top: 120px;
}

.first-page .rest-page h1 {
    font-weight: 500;
}

.first-page .rest-page h2 {
    font-weight: 300;
    font-size: 20px;
}

.first-page .rest-page .icons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 60px;
    padding-bottom: 170px;
}

.first-page .rest-page .icons img {
    width: 45px;
}

/* Second page */
